{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<span class="side"><img width="150" height="250" src="http://a3.sphotos.ak.fbcdn.net/hphotos-ak-snc6/261564_10150228294465800_618640799_7831067_5657802_n.jpg" alt="me"/></span>

<p>Welcome to my blog - a place where I talk about everything that interests me.
And that includes, but not limited to: software development, music, gaming and martial arts.</p>

<p>Everything is still under development, but later on I intend to share the news that excite me and
post various tutorials on subjects that I think I can teach and people usually struggle with.</p>

<p>My name is Azamat Galimzhanov. I am also known as "Khazidhea" or "Khaz" and
a bunch of other nicknames that people often have trouble pronouncing and\or spelling :D</p>

<p>I am a 4th year Computer Science student at Trinity College Dublin.
I am particulary interested in artificial intelligence, machine learning, natural language processing and computer vision.
Web development is also quite appealing to me. I can teach some of this, because it can be rather difficult to find information on some of the finer details.
Some of the tutorials online contained the most helpful advice I've found, so I'll try to keep up to this standard.</p>

<p>I play guitar and sing - and this will pop out on this blog eventually, so you've been warned :D</p>

<p>I play games, skill-based games, games that give you a good feeling when you win, because you did something right. Like Starcraft and DotA.
I can share some of my knowledge in these areas as I find a lot of people struggle - and I mean struggle <i>hard</i> - when they have just basic mistakes.</p>

<p>I do martial arts, a bit of everything. I was part of Trinity Judo team last year and intend to compete this year as well.
I also did some Jujutsu, Muay Thai and MMA. I dont feel like I am eligible to teach anything about martial arts as I am not that skillfull,
so my content would be limited to my competition fights if I ever film any. </p>

<p>P.S. A bit about the blog engine itself. It is written in Django as an exercise.
It is quite functional and I am constantly improving it.
It was a good exercise for learning something about Django and Python.
At first I did not feel like using this as my primary blog, but now I am not so sure.</p>

<p>P.P.S. Here is my CV: <a href="/cv/AzamatGalimzhanovCV.pdf">AzamatGalimzhanovCV.pdf</a></p>

{% endblock %}
