<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %} Azamat's Blog {% endblock %}</title>
<meta name="author" content="Azamat Khazidhea Galimzhanov" />
<meta name="keywords" content="Azamat, Galimzhanov, Khazidhea, blog, ml-class, db-class, ai-class, programming, java, python, php, django, zend, gaming, starcraft, dota, music, guitar, acoustic, covers" />
<meta name="description" content="Azamat's blog" />
<link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="/">Azamat's Blog</a></h1>
        <p>Some thoughts out loud</p>
	</div>
	<div id="menu">
		<ul class="ca-menu">
            <li>
                <a href="/">
                    <span class="ca-icon">Blog</span>
                </a>
            </li>
            <li>
                <a href="http://www.code.khazidhea.com">
                    <span class="ca-icon">Code</span>
                </a>
            </li>
            <li>
                <a href="{% url static_page template="about" %}">
                    <span class="ca-icon">About</span>
                </a>
            </li>
        </ul>
	</div>
</div>
<hr />
<!-- end header -->
<!-- start page -->
<div id="wrapper">
	<div id="page">
		<!-- start content -->
		<div id="content">
			{% block content %}
			<div class="post">
				<p class="date">September <b>03</b></p>
				<h2 class="title">Welcome to my Blog!</h2>
				<p class="meta"><small>Posted by Azamat | <a href="#">Edit</a> | <a href="#">No Comments &raquo;</a></small></p>
				<div class="entry">
					<p>This is <strong>My First Blog</strong>.</p>
				</div>
			</div>
			{% endblock %}
		</div>
		<!-- end content -->
		<!-- start sidebar -->
		<div id="sidebar">
			{% load blog_sidebar %}
			<ul>
				<li>
					<div id="search" >
						<form method="get" action="{% url blog_post_search %}">
							<div>
								<input type="text" name="s" id="s" value="" />
								<input type="submit" id="search-submit" value="Search" />
							</div>
						</form>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</li>
				<li id="categories">
					{% blog_categories %}
				</li>
				<li>
					{% blog_archive %}
				</li>
			</ul>
		</div>
		<!-- end sidebar -->
		<br style="clear: both;" />
	</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="wrapper2">
	<div id="footer"> </div>
	<p id="legal"> &copy;Azamat Galimzhanov, 2011 <a href="http://validator.w3.org/check/referer" class="xhtml" title="This page validates as XHTML">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> </p>
</div>
<!-- end footer -->
</body>
</html>
